@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
}
body{
	background-image: url(img/fondo.jpeg);
	background-size: cover;
}
nav{
	max-width: 900px;
	margin: auto;
	background-color: #333;
	font-size: 20px;
	margin-top: 50px;
}
.menu-horizontal{
	list-style: none;
	display: flex;
	justify-content: space-around;
}
.menu-horizontal > li > a{
	display: block;
	padding: 15px 20px;
	color: white;
	text-decoration: none;
}
.menu-horizontal > li:hover{
	background-color: red;
}
.menu-vertical{
	position: absolute;
	display: none;
	list-style: none;
	width: 200px;
	background-color: rgba(0, 0, 0, .5);
}
.menu-horizontal li:hover .menu-vertical{
	display: block;
}
.menu-vertical li:hover{
	background-color: black;
}

.menu-vertical li a{
	display: block;
	color: white;
	text-decoration: none;
	padding: 15px 15px 15px 20px;
}

#html{
	margin: auto;
	padding: 20px;
	max-width: 900px;
	background: white;

}

.sonic-image {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 9999;
  }
  
  .sonic-image img {
	width: 150px; /* Ajusta el tamaño de la imagen según sea necesario */
	height: 130px; /* Ajusta el tamaño de la imagen según sea necesario */
  }

  .tails-image {
	position: fixed;
	top: 10px;
	right: 10px;
	z-index: 9999;
  }
  
  .tails-image img {
	width: 130px; /* Ajusta el tamaño de la imagen según sea necesario */
	height: 130px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  .knuckles-image {
	position: fixed;
	bottom: 10px;
	left: 10px;
	z-index: 9999;
  }
  
  .knuckles-image img {
	width: 110px; /* Ajusta el tamaño de la imagen según sea necesario */
	height: 110px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  
  .amy-image {
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 9999;
  }
  
  .amy-image img {
	width: 110px; /* Ajusta el tamaño de la imagen según sea necesario */
	height: 110px; /* Ajusta el tamaño de la imagen según sea necesario */
  }
  